body{
    background-color:#d1d1d1;
}
.parentuser{
    border-bottom: 1px solid grey;
    display: inline-block;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.user{
    /* background-color: aqua; */
    margin-top: 10px;
    
}
.userinfo{
    display: inline;
    
   
}



.parentheader{
    text-align: center;
    margin: 0px;
}
.movie_heading{
    font-size: 40px;
    margin: 10px;
}
.movie_number{
    margin-right: 170px;
    display: block;
}
.movie_findslot{
    margin-right: 80px;
    margin-top: 20px;
}
.findslot{
    margin-left: 50px;
}
.editInp{
    border: none;
    border-color: aquamarine;
    width: 150px;
    height: 20px;
}
.showdataparent{
    display: flex;
    margin-top: 5px;
    
}
.showItem{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: gold;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    
}
.showbtn{
    display: flex;
    align-items: center;
    margin-left: 5px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    
}
.dbtn{
    width: 80px;
    padding: 8px;
    cursor: pointer;
    /* margin: 5px; */
    border-radius: 5px;
}
.dbtn:hover{
    background-color: transparent;
    color: red;
}
.ebtn{
    width: 80px;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    /* margin-top: 10px; */
}
.ebtn:hover{
    background-color: transparent;
    color: white;
}
.editInp{
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    font-size:larger;
    
   
}